@import "tailwindcss";

@font-face {
  font-family: "PingFang SC";
  src: url("./pingfang-sc-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "PingFang SC", "PingFangSC-Regular", "Microsoft YaHei", sans-serif;
}
